
*{
	background: white;
	margin: 0px;
	padding: 0px;	
	font-family:"Comic Sans MS";
	border:1px solid blue;
}
h1{
	font-size: 700%
}
h2{
	font-size:300%;
}

body{
	text-align:center;
}
/* 이렇게 할 수도 있다.
input[type="text"]{
	width:250px;
}
input[type="password"]{
	width:250px;
}
input[type="text"]{
	width:250px;
}
*/
#top_header{
	background:yellow;
}
#home_button{
	float:left;
	margin-left:5px;
}
#log_out{
	float:right;
	margin-right:5px;
	margin-left:5px;
	
}
#my_page{
	float:right;
	margin-right:5px;
}
#search_bar{
	width:250px;
	height:25px;
}

#register_header{
	text-align:left;
}
#main_panel{

	width: 1000px;
	margin: 350px auto;
	
}
#image{
	height: 500px;
	width: 500px;	
} 
#login_panel{
	float: right;
	height: 500px;
	width: 500px;
}
/*total width= 1000px used = 880px current = 120px.*/
#login_image{
	margin: 0px auto;
	padding: 0px auto;
}
#center_table{
	text-align:right;
	margin: 75px auto;
	
}
#register_link{
	float:left;
}
#login_button{
	float:left;
}
/*
#password_description{
	width:250px;
}
*/
