
*{
	background: white;
	margin: 0px;
	padding: 0px;	
	font-family:"Comic Sans MS";
}
h1{
	font-size: 700%
}
body{
	text-align:center;
}
#main_panel{

	width: 1000px;
	margin: 350px auto;
}
#image{
	height: 500px;
	width: 500px;	
} 
#login_panel{
	float: right;
	height: 500px;
	width: 500px;
}
/*total width= 1000px used = 880px current = 120px.*/
#login_image{
	margin: 0px auto;
	padding: 0px auto;
}
#center_table{
	text-align:right;
	margin: 75px auto;
	
}
#register_link{
	float:left;
}
#login_button{
	float:left;
}
